.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-gap: 10px 40px;

	margin-bottom: 30px;
}

.title {
	align-self: center;

	font-weight: bold;
}

.vline {
	border: none;

	border-left: 1px solid var(--gray-light);
}
