.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 0 30px;

	min-height: 100vh;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";
}

.header {
	grid-area: header;

	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;

	outline: none;
}

.footer {
	display: grid;
	justify-content: center;

	background: #7653FC;
	grid-area: footer;
	grid-gap: 40px;
	gap: 40px;
	grid-template-areas: "rights agreement confidential";
	grid-auto-columns: 50% 18% 18%;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-areas:
			"header"
			"body"
			"footer";
		grid-template-columns: minmax(320px, 1200px);
	}

	.footer {
		grid-template-areas:
			"rights"
			"agreement"
			"confidential";
	}

	.sidebar {
		display: none;
		grid-area: sidebar;
	}

	.header {
		grid-area: header;

		display: block;
	}
}
